body {
  background-color: rgb(218, 210, 206);
  text-align: center;
  color: rgb(83, 75, 75)
}

h1 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

a {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: #b16587;
}

a:hover {
  text-decoration: underline;
}