body {
  margin: 50px;
}

h1 {
  color: rgb(170, 96, 83);
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#todays-challenge {
  color: rgb(124, 109, 103);
  font-weight: bold;
  font-size: 52px;
}