body {
  text-align: center;
  background-color: rgb(218, 210, 206);
  color: rgb(83, 75, 75)
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(170, 96, 83);
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: #534b4b;
}

a {
  color: #b16587;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}